<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949180237411-9kp02crdjqga1fokifoq1f60ivm8n5dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949180237411-9kp02crdjqga1fokifoq1f60ivm8n5dr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>949180237411-upkltv6ftlveq5u9u20f1val6rf5fs8i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzPdqvCJ0n8zZ10AV85B854X8NXno_Jjc</string>
	<key>GCM_SENDER_ID</key>
	<string>949180237411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hexeam.tripsman</string>
	<key>PROJECT_ID</key>
	<string>tripsman-ad93a</string>
	<key>STORAGE_BUCKET</key>
	<string>tripsman-ad93a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949180237411:ios:dfa4c57d1e0927d9c19a56</string>
</dict>
</plist>